body.dark-mode {
    background-color: #111;
    color: #eee;
}
body.dark-mode a {
    color: #111;
}
body.dark-mode button {
    background-color: #eee;
    color: #111;
}
body.light-mode {
    background-color: #eee;
    color: #111;
}
body.light-mode a {
    color: #111;
}
body.light-mode button {
    background-color: #111;
    color: #eee;
}

button{
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    padding: 20px;
    border-radius: 50px;
}

h1,p{
    text-align: center;
}

body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}